<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rec_forgot_password.css') }}">
  </head>
  <body>
    <header>
      <h1><u>Reset Your Password?</u></h1>
    </header>
    <main>
      <div class="form-container">
        <form id="forgot_password_form" action="/forgot_password" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
          </div>
          <hr>
          <button type="submit">Reset Password</button>
        </form>
      </div>
    </main>
    <footer>
      <p></p>
    </footer>
    <script src="{{ url_for('static', filename='js/rec_forgot_password.js') }}"></script>
  </body>
</html>

