<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recruiter_home.css') }}">
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>HireMe</h1>
        <button id="logout-btn">Logout</button>
      </div>
    </header>
    <main>
      <div class="sidebar">
        <h2>Jobs</h2>
        <h2 id="reports">Report</h2>
      </div>
      <div class="content">
      <button id="create-job-btn">Create New Job</button>
        <table id="jobsTable" border="1">
          <thead>
            <tr>
              <th>ID</th>
              <th>Job Title</th>
              <th>Company</th>
              <th>Salary Package (₹/LPA)</th>
              <th>Job Description</th>
              <th>Status</th>
              <th>Set Job Status/Close</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/recruiter_home.js') }}"></script>
  </body>
</html>
