<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireMe - Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_login.css') }}">
  </head>
  <body>
    <header>
      <h1>
        <u>Welcome to HireMe</u>
      </h1>
    </header>
    <main>
      <div class="login-container">
        <form id="loginForm">
          <div class="form-group">
            <label for="usn">Student ID</label>
            <input type="text" id="usn" name="usn">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
          </div>
          <hr>
          <div class="form-group-buttons">
            <button type="submit">LOGIN</button>
            <button type="button" id="signupButton">SIGNUP</button>
            <button type="button" id="forgotButton">Forgot Password</button>
          </div>
        </form>
      </div>
    </main>
    <p>Start your career with HireMe, Today!</p>
    <script src="{{ url_for('static', filename='js/student_login.js') }}"></script>
  </body>
</html>


